<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Chuyển tiếp các request /docserver/ sang Node.js Document Server (127.0.0.1:8081) -->
        <rule name="DocServer Proxy" stopProcessing="true">
          <match url="^docserver/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8081/{R:1}" />
        </rule>
        
        <!-- Chuyển tiếp các request /onlyoffice/ sang OnlyOffice Server (127.0.0.1:8000) -->
        <rule name="OnlyOffice Proxy" stopProcessing="true">
          <match url="^onlyoffice/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
